# EditorConfig file for WordPress projects
# https://editorconfig.org/

# Top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# PHP files
[*.php]
indent_style = tab
indent_size = 4

# JavaScript files
[*.js]
indent_style = tab
indent_size = 4

# JSON files
[*.json]
indent_style = space
indent_size = 2

# CSS/SCSS/SASS files
[*.{css,scss,sass}]
indent_style = tab
indent_size = 4

# HTML files
[*.html]
indent_style = tab
indent_size = 4

# XML files (including phpcs.xml)
[*.xml]
indent_style = tab
indent_size = 4

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
indent_style = space
indent_size = 2
